</br><div id="bloneyaccount_title"><b>Company</b></div></br>	
<div>
	<table  id="bloneyaccount_table">
	<tr> 
		<td class="property">Multiple-User Capability</td>
		<td class="checkbox"><img src="../../images/Gif/Orange/Ok.gif"/></td>
	</tr> 
	<tr> 
		<td class="property">Cash flow Management</td>
		<td class="checkbox"><img src="../../images/Gif/Orange/Ok.gif"/></td>
	</tr>
	<tr> 
		<td class="property">Reporting and Analysis</td>
		<td class="checkbox"><img src="../../images/Gif/Orange/Ok.gif"/></td>
	</tr>
	<tr> 
		<td class="property">Import and Export Data</td>
		<td class="checkbox"><img src="../../images/Gif/Orange/Ok.gif"/></td>
	</tr>
	<tr> 
		<td class="property">Expert Advising</td>
		<td class="checkbox"><img src="../../images/Gif/Orange/Ok.gif"/></td>
	</tr>
	<tr> 
		<td class="property">Data Integration</td>
		<td class="checkbox"><img src="../../images/Gif/Orange/Ok.gif"/></td>
	</tr>
	<tr> 
		<td class="property">Support</td>
		<td class="checkbox"><img src="../../images/Gif/Orange/Ok.gif"/></td>
	</tr>	
	</table>
</div></br>