<h1>Listing tasklists</h1>

<table>
  <tr>
  </tr>

<% for tasklist in @tasklists %>
  <tr>
    <td><%= link_to 'Show', tasklist %></td>
    <td><%= link_to 'Edit', edit_tasklist_path(tasklist) %></td>
    <td><%= link_to 'Destroy', tasklist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tasklist', new_tasklist_path %>
