<h1>Editing bank</h1>

<%= error_messages_for :bank %>

<% form_for(@bank) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @bank %> |
<%= link_to 'Back', banks_path %>
