/******************************************************************************/
/* Logo*/
/******************************************************************************/
#header-content #logo-message {	
	position: absolute;
	margin: 0; padding: 0;	
	height:40px; width: 170px; 
	font: bold 30px Verdana;
	letter-spacing: -1px;
	color: #FFFFFF;
	text-transform: none;
	text-decoration: none;
	border-right: 2px solid #FFFFFF;
	left: 30px; top: 5px;
}

#header-content #slogan-message {
	position: absolute;	
	font: bold 11px "Trebuchet MS";
	letter-spacing: 0px;
	color: #FFFFFF;	
	margin: 0; padding: 1px 0;
	text-transform: none;
	
	/* change the values of left and top to adjust the position of the slogan */
	top: 7px; left: 210px;
}

#header-content #logo-text  {	
	position: absolute;
	margin: 0; padding: 0;	
	height:40px; width: 178px; 
	background: transparent url(/images/logo.png) no-repeat right bottom;
	font: bold 35px Verdana;
	letter-spacing: -1px;
	color: #308785;
	text-transform: none;
	text-decoration: none;
	border: none;
	left: 40px; top: 15px;
}
#header-content h1 span {
	position: absolute;
	left: 45px;	
	font: bold 2em  Verdana  ;
}
#header-content #slogan {
	position: absolute;	
	font: bold 11px "Trebuchet MS";
	letter-spacing: 0px;
	color: #555;	
	margin: 0; padding: 1px 0;
	text-transform: none;
	border-bottom: 2px solid #308785;
	
	/* change the values of left and top to adjust the position of the slogan */
	top: 7px; left: 80px;
}

/******************************************************************************/
/*                        Notifications                                       */
/******************************************************************************/
.alert_on {
	background: red;
}

.alert_time {
	font-weight: bold;
	color : #15428B;
}
/******************************************************************************/
/*                        Authorize                                           */
/******************************************************************************/
body {
	background-color:#93B0CC;
}

#login-win .x-window-mc {
	background:#FFFFFF none repeat scroll 0%;
	border:1px solid #EEEEEE;
}
#login-logo .x-plain-body {
	background:#F9F9F9 url(../images/bloney.jpg) no-repeat scroll center;
}
#login-form .x-plain-body {
	background:#FFFFFF none repeat scroll 0%;
	color:#222222;
	padding:5px 35px;
}
#login-win .x-window-body {
	background:#FFFFFF none repeat scroll 0% 50%;
	border:1px solid #99BBE8;
}

#signup-win .x-window-mc {
	background:#FFFFFF none repeat scroll 0%;
	border:1px solid #EEEEEE;
}
#signup-form .x-plain-body {
	background:#FFFFFF none repeat scroll 0%;
	color:#222222;
	padding:5px 35px;
}
#signup-win .x-window-body {
	background:#FFFFFF none repeat scroll 0% 50%;
	border:1px solid #99BBE8;
}

#welcome-win .x-window-mc {
	background:#FFFFFF none repeat scroll 0%;
	border:1px solid #EEEEEE;
}
#welcome-logo .x-plain-body {
	background:#F9F9F9 url(../images/bloney.jpg) no-repeat scroll center;
}
#welcome-form .x-plain-body {
	background:#FFFFFF none repeat scroll 0%;
	color:#222222;
	padding:5px 35px;
}
#welcome-win .x-window-body {
	background:#FFFFFF none repeat scroll 0% 50%;
	border:1px solid #99BBE8;
}
/******************************************************************************/
/*                        Dashboard                                           */
/******************************************************************************/
.x-column-tree .x-tree-node {
    zoom:1;
}
.x-column-tree .x-tree-node-el {
    /*border-bottom:1px solid #eee; borders? */
    zoom:1;
}
.x-column-tree .x-tree-selected {
    background: #d9e8fb;
}
.x-column-tree  .x-tree-node a {
    line-height:18px;
    vertical-align:middle;
}
.x-column-tree  .x-tree-node a span{

}
.x-column-tree  .x-tree-node .x-tree-selected a span{
	background:transparent;
	color:#000;
}
.x-tree-col {
    float:left;
    overflow:hidden;
    padding:0 1px;
    zoom:1;
}

.x-tree-col-text, .x-tree-hd-text {
    overflow:hidden;
    -o-text-overflow: ellipsis;
	text-overflow: ellipsis;
    padding:3px 3px 3px 5px;
    white-space: nowrap;
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-tree-headers {
    background: #f9f9f9 url(../images/default/grid/grid3-hrow.gif) repeat-x  bottom;
	cursor:default;
    zoom:1;
}

.x-tree-hd {
    float:left;
    overflow:hidden;
    border-left:1px solid #eee;
    border-right:1px solid #d0d0d0;
}

.task {
    background-image:url(../shared/icons/fam/cog.png) !important;
}
.task-folder {
    background-image:url(../shared/icons/fam/folder_go.png) !important;
}

.x-portal .x-panel-dd-spacer {
    margin-bottom:10px;
}

.x-portlet {
    margin-bottom:10px;
}

/* Clean up the look of the portlets */
.x-portlet .x-panel-ml {
    padding-left:2px;
}
.x-portlet .x-panel-mr {
    padding-right:2px;
}
.x-portlet .x-panel-bl {
    padding-left:2px;
}

.x-portlet .x-panel-br {
    padding-right:2px;
}
.x-portlet .x-panel-body {
    background:white;
}
.x-portlet .x-panel-mc {
    padding-top:2px;
}
.x-portlet .x-panel-bc .x-panel-footer {
    padding-bottom:2px;
}
.x-portlet .x-panel-nofooter .x-panel-bc {
    height:2px;
}

/******************************************************************************/
/*                        Cashrecords Calculator                              */
/******************************************************************************/
.ux-calc {
	background: #EEEEEE;
}
.ux-calc-container {
	border: 1px solid #C7D8ED;
}
.ux-calc-container td {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	border: 1px outset #C7D8ED;
}
.ux-calc-digit, .ux-calc-equals {
	font-weight: bold;
}
.ux-calc-operator, .ux-calc-equals {
	color: blue;
}
.ux-calc-memory {
	color: red;
}
.ux-calc-memstore {
	border: 1px inset #C7D8ED !important;
	background-color: #D1D1D1;
}
.ux-calc-btn-hover {
	background: #C7D8ED;
	cursor: pointer;
}
.ux-calc-input {
	text-align: right;
}

.ux-calc-misc { }
.ux-calc-ok { }
/*Calculator end*/
/******************************************************************************/
/*                        Cashrecords tab west                                */
/******************************************************************************/

#stories .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

#stories .thumb{
	background: #dddddd;
	padding: 3px;
}

#stories .thumb story{
	height: 150px;
	width: 450px;
}

#stories .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}

#stories .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#stories .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

#stories .x-view-selected{
	background: #eff5fb url(../images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}

#stories .x-view-selected .thumb{
	background:transparent;
}

#stories .loading-indicator {
	font-size:11px;
	background-image:url('../images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}
/******************************************************************************/
/*                        Cashrecords West Panel                              */
/******************************************************************************/
#advisors .x-panel-body,
#companies .x-panel-body,
#alerts .x-panel-body,
#reports .x-panel-body,
#categories .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

#advisors .thumb,
#companies .thumb,
#alerts .thumb,
#reports .thumb,
#categories .thumb{
	background: #dddddd;
	padding: 3px;
	
}


#advisors .thumb img,
#companies .thumb img,
#alerts .thumb img,
#reports .thumb img,
#categories .thumb img{
	height: 40px;
	width: 60px;
}

#advisors .thumb-wrap,
#companies .thumb-wrap,
#alerts .thumb-wrap,
#reports .thumb-wrap,
#categories .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
	
}

#advisors .thumb-wrap span,
#companies .thumb-wrap span,
#alerts .thumb-wrap span,
#reports .thumb-wrap span,
#categories .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#advisors .x-view-over,
#companies .x-view-over,
#alerts .x-view-over,
#reports .x-view-over,
#categories .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

#advisors .x-view-selected,
#companies .x-view-selected,
#alerts .x-view-selected,
#reports .x-view-selected,
#categories .x-view-selected{
	background: #eff5fb url(../images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}

#advisors .x-view-selected .thumb,
#companies .x-view-selected .thumb,
#alerts .x-view-selected .thumb,
#reports .x-view-selected .thumb,
#categories .x-view-selected .thumb{
	background:transparent;
}

#advisors .loading-indicator,
#companies .loading-indicator,
#alerts .loading-indicator,
#reports .loading-indicator,
#categories .loading-indicator {
	font-size:11px;
	background-image:url('../images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

/******************************************************************************/
/*                        Categories Window                                   */
/******************************************************************************/
.x-grid3-td-topic b {
    font-family:tahoma, verdana;
    display:block;
    color:#333;
}
.x-grid3-td-topic b i {
    font-weight:normal;
    font-style: normal;
    color:#000;
}
.x-grid3-td-topic .topic {
    padding-left:20px;
    background:transparent url(message.png) no-repeat 0 2px;
}
.x-grid3-td-topic .x-grid3-cell-inner {
    white-space:normal;
}
.x-grid3-td-topic a {
    color: #385F95;
    text-decoration:none;
}
.x-grid3-td-topic a:hover {
    text-decoration:underline;
}
.details .x-btn-text {
    background-image: url(details.gif);
}
.msg-view {
    background-image: url(../shared/icons/fam/application_view_list.png) !important;
}
.preview {
    background-image: url(preview.png) !important;
}
.new-topic {
    background-image: url(message_edit.png) !important;
}
.summary {
    background-image: url(details.gif) !important;
}
.x-grid3-row-body p {
    margin:5px 20px 10px 25px !important;
    color:#555;
}

.post-date {
    /*font-weight:bold;*/
    color:#333;
}

.author {
    color:#333;
}

#topic-grid .x-panel-tbar .x-toolbar {
    border-top:0 none;
}
#notifications .x-panel-tbar .x-toolbar {
    border-top:0 none;
}
.x-tree {
    background:#fff !important;
}
.x-border-layout-ct {
    background:transparent;
}
body.x-border-layout-ct {
    background:#c3d5ed url(../images/slate/qtip/bg.gif) repeat-x left top !important;
}
.x-layout-split {
    background-color:transparent !important;
}

.x-tree-node div.forum-ct{
    background:#eee url(cmp-bg.gif) repeat-x;
    margin-top:1px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ccc;
    padding-top:2px;
    padding-bottom:1px;
}
.forum-ct .x-tree-node-icon {
    display:none;
}
.forum-ct a span {
    font-weight:bold;
    color:#222;
}
.forum {
    border:1px solid #fff;
}
.forum .x-tree-ec-icon {
    display:none;
}
.icon-forum {
    background-image:url(forum.gif) !important;
}
.x-tree-selected {
    border:1px dotted #a3bae9;
    background:#DFE8F6;
}
.x-tree-node .x-tree-selected a span{
	background:transparent;
	color:#15428b;
    font-weight:bold;
}

#main-tabs .x-tab-panel-body {
    background:transparent;
    border:0 none;
}

#topic-grid .x-panel-tbar .x-toolbar {
    border-top:0 none;
}

#notifications .x-panel-tbar .x-toolbar {
    border-top:0 none;
}

/******************************************************************************/
/*                       Collaborate                                          */
/******************************************************************************/
#advisors .x-panel-body,
#comprofile .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

#advisors .thumb,
#comprofile .thumb{
	background: #dddddd;
	padding: 3px;
}

#advisors .thumb img,
#comprofile .thumb img{
	height: 45px;
	width: 45px;
}

#advisors .thumb-wrap,
#comprofile .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}

#advisors .thumb-wrap span,
#comprofile .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

#advisors .x-view-over,
#comprofile .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

#advisors .x-view-selected,
#comprofile .x-view-selected{
	background: #eff5fb url(../images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}

#advisors .x-view-selected .thumb,
#comprofile .x-view-selected .thumb{
	background:transparent;
}

#advisors .loading-indicator,
#comprofile .loading-indicator {
	font-size:11px;
	background-image:url('.../javascripts/ext/resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

#advisors .advisors-table,
#comprofile .comprofile-table{
	font: 14px Arial, Helvetica, sans-serif;
}
/******************************************************************************/
/*                        Else   .............                                */
/******************************************************************************/
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}
.blist .x-btn-text {
    background-image: url(../images/list-items.gif)
}
.bmenu .x-btn-text {
    background-image: url(../images/cashrecords.png)
}
.menu-title{
    background: #ebeadb url(../images/default/grid/grid-hrow.gif) repeat-x;
    border-bottom:1px solid #99bbe8;
    color:#15428b;
    font:bold 10px tahoma,arial,verdana,sans-serif;
    display:block;
    padding:3px;
}

.calendar .x-menu-item-icon {
    background-image:url(../images/default/shared/calendar.gif);
}

.search .x-menu-item-icon {
    background-image:url(../images/Gif/Orange/Search.gif);
}
.filter .x-menu-item-icon {
    background-image:url(../images/Gif/Orange/PlayerSlow.gif);
}
.navigate .x-menu-item-icon {
    background-image:url(../images/Gif/Orange/Rotate.gif);
}
.configure .x-menu-item-icon {
    background-image:url(../images/Gif/Orange/Gears.gif);
}

.icon-expand-all {
background-image:url(../images/Gif/Orange/Plus.gif)  !important;
}

.icon-collapse-all {
background-image:url(../images/Gif/Orange/Minus.gif) !important;
}

.icon-home {
background-image:url(../images/Gif/Orange/Home.gif)  !important;
}

.icon-edit {
background-image:url(../images/Gif/Orange/Write.gif)  !important;
}

.icon-ok {
background-image:url(../images/Gif/Orange/Ok.gif) !important;
}

.icon-no {
background-image:url(../images/Gif/Orange/No.gif)  !important;
}

.folder {
background-image:url(../images/Gif/Orange/Folder.gif)  !important;
}

.document {
background-image:url(../images/Gif/Orange/Document.gif)  !important;
}

.tabstoolbar .x-tab-strip-text{
    font-size:90%;
    font-weight:bold;
    font-family:verdana;
}
/******************************************************************************/
/*                        Help                                                */
/******************************************************************************/
#help_box {
	background:#EFFAFF none repeat scroll 0%;
	border:1px solid #8EACCF;
	margin:3px;
	padding:5px;
}

#help_title {
	font-weight: bold;
	font-size : 20px;
	margin:5px 0pt;
	padding:5px;
}
#help_description {
	margin:5px 0pt;
	padding:5px;
}
#help_image{
	margin:5px 0pt;
	padding:5px;
}
#help_content{
	margin:5px 0pt;
	padding:5px;
}
.search-item {
	margin:5px 5px 9px;
	padding:0 5px 10px 0;
}
.search-item .member {
	font:bold 12px tahoma,arial,sans-serif;
	color:#444;
	margin:5px;
	overflow:hidden;
	white-space:nowrap;
	zoom:1;
}

.search-item .cls {
	font:normal 12px tahoma,arial,sans-serif;
	color:#444;
	margin:5px;
	overflow:hidden;
	text-align:left;
	white-space:nowrap;
	zoom:1;
}
.search-item p {
	font:normal 11px tahoma,arial,sans-serif;
	clear:both;
	margin: 0 5px 5px 28px;
	color:#444;
	zoom:1;
}
#search .loading-indicator {
	position:static !important;
}
#search h3 {
	font:normal 12px tahoma,arial,sans-serif;
	color:#444;
	margin:10px;
}
.inner-link .item-icon, .bookmark .item-icon{
	margin-right:3px;
}
.inner-link, .bookmark {
	margin-left:10px;
}

/* tree checkbox, height/width needed b/c of IE spacing weirdly, breaks lines */
input.l-tcb {
	height:13px;
	width:13px;
	margin-left:2px
}


/* fix scrolling issue with treeobj in a contentpanel 
 * and loss of icons when a node is expanded
*/
.ext-ie .x-tree {
	position:static !important;
}
#compbalance_title {
	text-align: center;
	font-size : 16px;
}

#compbalance_table {
	
	/*border:1px solid #8EACCF;*/
	margin : 0 0 0 40px;
	
}
#compbalance_table caption{
	font-size : 16px;
	text-align: center;
}

#compbalance_table td {
	font-size : 16px;	
	
}

#compbalance_table th {
	font-weight: bold;
	font-size : 16px;
	
}
.statement {
	
	text-align: left;
}
.yesterday {
	
	text-align: right;
}
.today {
	
	text-align: right;
}
.tommorow {
	background:#EFFAFF none repeat scroll 0%;
	text-align: right;
}

.categories_graph{
	margin-left :5px;	
}

#bloneyaccount_title {
	text-align: center;
	font-size : 16px;
}

#bloneyaccount_table  {
	margin : 0 0 0 10px;	
	
}

#bloneyaccount_table {
	background-color:#FFFFFF;
    border: solid #000 0px;
    width: 200px;
}
#bloneyaccount_table td {
	padding: 5px;
    border: solid #000 0px;
	font-size : 14px;	
}

.property {
	font-weight: bold;
    text-align: left;
    width: 150px;
    background-color: #EFFAFF;
}

.checkbox {
	color: #000000;
    text-align: right;
    background-color: #EFFAFF;
}

.expert_header {
	background-color: #EFFAFF;
}
/*************************************************************************************************/
/* styles for rows */
.ux-row-action-cell .x-grid3-cell-inner {
	padding:1px 0 0 0;
}
.ux-row-action-item {
	float:left;
	min-width:16px;
	height:16px;
	background-repeat:no-repeat;
	margin: 0 5px 0 0;
	cursor:pointer;
	overflow:hidden;
}
.ext-ie .ux-row-action-item {
	width:16px;
}
.ext-ie .ux-row-action-text {
	width:auto;
}
.ux-row-action-item span {
	vertical-align:middle;
	padding:0 0 0 20px;
	line-height:18px;
}
.ext-ie .ux-row-action-item span {
	width:auto;
}

/* styles for groups */
.x-grid-group-hd div {
	position:relative;
	height:16px;
}
.ux-grow-action-item {
	min-width:16px;
	height:16px;
	background-repeat:no-repeat;
	background-position: 0 50% ! important;
	margin: 0 0 0 4px;
	padding: 0 ! important;
	cursor:pointer;
	float:left;
}
.ext-ie .ux-grow-action-item {
	width:16px;
}
.ux-action-right {
	float:right;
	margin: 0 3px 0 2px;
	padding: 0 ! important;
}
.ux-grow-action-text {
	padding: 0 ! important;
	margin:0 ! important;
	background:transparent none ! important;
	float:left;
}

.icon-ob {
	background-image:url(../images/ob_16.png) ! important;
}
.icon-ok {
	background-image:url(../images/ok16.png) ! important;
}
.icon-stat-data {
	background-image:url(../images/kate_16.png) ! important;
}
.icon-admin {
	background-image:url(../images/adv_settings_16.png) ! important;
}
.icon-key2 {
	background-image:url(../images/key_16.png) ! important;
}
.icon-expand-all {
	background-image:url(../images/expand-all.gif) ! important;
}
.icon-collapse-all {
	background-image:url(../images/collapse-all.gif) ! important;
}
.icon-house {
	background-image:url(../images/house_16.png) ! important;
}
.icon-user {
	background-image:url(../images/user2_16.png) ! important;
}
.icon-wrench {
	background-image:url(../images/wrench_16.png) ! important;
}
.icon-stat-portal {
	background-image:url(../images/stat_portal_16.png) ! important;
}
.icon-stat-list {
	background-image:url(../images/stat_list_16.png) ! important;
}
.icon-cancel {
	background-image:url(../images/cancel16.png) ! important;
}
.icon-wages {
	background-image:url(../images/euro_16.png) ! important;
}
.icon-lock {
	background-image:url(../images/lock16.png) ! important;
}
.icon-lock-open {
	background-image:url(../images/unlock16.png) ! important;
}
.icon-upload {
	background-image:url(../images/up.png) ! important;
}
.icon-plus {
	background-image:url(../images/add.png) ! important;
}
.icon-minus {
	background-image:url(../images/delete.png) ! important;
}
.icon-cross {
	background-image:url(../images/cross.png) ! important;
}
.icon-stop {
	background-image:url(../images/control_stop.png) ! important;
}
.icon-working {
	background-image:url(../images/default/grid/wait.gif) ! important;
}

/* }}} */

.ux-up-item {
	line-height:17px;
	height:17px;
	cursor:default;
/*	border: 1px solid transparent; */
	margin-bottom:1px;
	position:relative;
	background-color:#f0f0f0;
	background-image:url(../images/white_bg.png);
	background-repeat:no-repeat
}
.ux-up-icon-file {
	width:16px;
	height:16px;
	vertical-align:-3px;
	margin-right:4px;
	background-image:url(../images/default/tree/leaf.gif);
	float:left;
}
.ux-up-item-selected {
	/*
	border-color:#c0c0c0;
	background-color:#f0f0f0;
	*/
}
.ux-up-indicator {
	background-color:yellow;
	height:17px;
	width:40px;
	position:absolute;
	opacity:0.4;
}
.ux-up-icon-state {
	width:16px;
	float:right;
	margin-right:2px;
	cursor:pointer;
	z-index:-1;
}
.ux-up-icon-queued {
	background-image:url(../images/page_white_get.png);
}
.ux-up-icon-uploading {
	background-image:url(../images/default/grid/wait.gif);
}
.ux-up-icon-done {
	background-image:url(../images/accept.png);
}
.ux-up-icon-failed {
	background-image:url(../images/error.png);
}
.ux-up-icon-stopped {
	background-image:url(../images/stop.png);
}
.ux-up-text {
	float:left;
}
.ux-ftm-nodename {
	color:black;
	font-weight:bold;
	cursor:default ! important;
}
/*---------------------------------------------------------------------
                                   Spinner 
----------------------------------------------------------------------*/
.x-form-spinner-proxy{
	/*background-color:#ff00cc;*/
}
.x-form-field-wrap .x-form-spinner-trigger {
    background:transparent url(../images/spinner.gif) no-repeat 0 0;
}
.x-form-field-wrap .x-form-spinner-overup{
    background-position:-17px 0;
}
.x-form-field-wrap .x-form-spinner-clickup{
    background-position:-34px 0;
}
.x-form-field-wrap .x-form-spinner-overdown{
    background-position:-51px 0;
}
.x-form-field-wrap .x-form-spinner-clickdown{
    background-position:-68px 0;
}
.x-trigger-wrap-focus .x-form-spinner-trigger{
    background-position:-85px 0;
}
.x-trigger-wrap-focus .x-form-spinner-overup{
    background-position:-102px 0;
}
.x-trigger-wrap-focus .x-form-spinner-clickup{
    background-position:-119px 0;
}
.x-trigger-wrap-focus .x-form-spinner-overdown{
    background-position:-136px 0;
}
.x-trigger-wrap-focus .x-form-spinner-clickdown{
    background-position:-153px 0;
}
.x-trigger-wrap-focus .x-form-trigger{
    border-bottom: 1px solid #7eadd9;
}

.x-form-field-wrap .x-form-spinner-splitter {
	line-height:1px;
	font-size:1px;
    background:transparent url(../images/spinner-split.gif) no-repeat 0 0;
	position:absolute;
	cursor: n-resize;
}
.x-trigger-wrap-focus .x-form-spinner-splitter{
    background-position:-14px 0;
}
.align-right {
    text-align: right;
    padding-right:20px;	
	background: #FFFFFF;
	color : #000000;	
}
.x-panel-body-noheader, .x-panel-mc .x-panel-body {
border-color:#FFFFFF;
}