<h1>Editing notification</h1>

<%= error_messages_for :notification %>

<% form_for(@notification) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @notification %> |
<%= link_to 'Back', notifications_path %>
