<h1>Listing schedullers</h1>

<table>
  <tr>
  </tr>

<% for scheduller in @schedullers %>
  <tr>
    <td><%= link_to 'Show', scheduller %></td>
    <td><%= link_to 'Edit', edit_scheduller_path(scheduller) %></td>
    <td><%= link_to 'Destroy', scheduller, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New scheduller', new_scheduller_path %>
