<div id="help_box">
		<div id="help_title"><%=@show_help.text%></div>
		<div id="help_description"><%=@show_help.description%></div>
		<div id="help_image">
			<%=image_tag(@show_help.image, :width => '535')%>
		</div>
		<div id="help_content"><%=@show_help.content%></div>
</div>