<h1>Editing collaborate</h1>

<% form_for(@collaborate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @collaborate %> |
<%= link_to 'Back', collaborates_path %>
