<h1>Editing cashrecord</h1>

<%= error_messages_for :cashrecord %>

<% form_for(@cashrecord) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @cashrecord %> |
<%= link_to 'Back', cashrecords_path %>
