<html>
  <head>
  		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<%= javascript_include_tag :defaults %>
 
  <script>
   
      new Ajax.Request('http://www.google.com/search?hl=en&q=Doug+ly&btnG=Google+Search', {onSuccess:function(e)
                                                           {
                                                             alert(e.responseText);
                                                           } ,
                                                 onFailure: function(e)
                                                 {
                                                                                                debugger;
                                                        alert(e.statusText);
                                                  },
                                                            method : 'get'
                                                 }
 
                        );
    
  </script>
	
  </head>
  <body>
  		<div id="bloney_header"></div>
		<div id="bloney_contex">
			<div id="tabs_toolbar"></div>
			<div id="bloney_tab_scripts">
				 <%= render :partial=>"layouts/#{controller.sub_layout}" %>
			</div>
			<div id="notification"></div>
		</div>
  </body>
</html>